.forecast-element {
  padding-top: 60px;
  text-align: center;
  display: flex;
  font-size: 10px;
}

.forecast-element .card {
  height: 20px;
  background-color: transparent;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #1a1423;
  font-weight: bold;
  width: 700px;
  border: 0px;
}
.forecast-element .card-text {
  color: rgb(0 132 255);
  font-size: 27px;
  font-family: "Slabo 27px", serif;
}

.forecast-element .card-title {
  padding-top: 0px;
}
