.search {
  /* position: fixed; */
  margin-top: 80px;
  margin-left: -150px;
  /*display: flex; */
}

.form-control {
  width: 30%;
}
#location {
  top: 175px;

  margin-left: 22px;
  margin-top: 20px;
}

#current-location {
  border-radius: 4px;
  color: rgb(0 132 255);
  font-weight: bold;
  border-color: whitesmoke;
  background-color: aliceblue;
}

.col-9 {
  float: left;
  display: flex;
}
